$primary-color: hsl(174, 33%, 17%);
$text-color: #835b16;
$bg-color: #c871e6;
$primary: #2563eb;
$primary-dark: #1e40af;
$bg: #a4dc94;     
$accent: #9cf0e9; 
$card-bg: #020617;
$text: #ff0505;
$muted: #94a3b8;
$border: #1e293b;
$radius: 10px;
$diff:#fff3e0;
